<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>FICT Capacitacion</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    {% include './importsFooter.html' %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/evaluacion.css">
</head> 

<body class="home-page">   
    {% include './header.html' %}

    <div id="continer" class="sections-wrapper">   
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="container-fluid">
                        <div class="row" id="titulo-evaluacion">
                            <h2 class="title text-center">Evaluacion: {{titulo}} </h2>
                        </div>
                        <!--<div class="row">
                            <h4 id="titulo_evaluavion_modulo" class="title text-center">Planos Arquitectonicos</h4>
                        </div>-->
                        <!--inicio contenido_evaluacion-->
                        <div class="row" id="contenido_evaluacion"> 
                            {% for pregunta in preguntas %}
                                <div class="row pregunta">
                                    <div class="panel-group">
                                      <div class="panel panel-default">
                                        <div class="panel-heading">{{pregunta.pregunta}}</div>
                                      </div>
                                      <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="opciones col-md-6" data-id="{{pregunta.id}}">
                                                <div class="radio">
                                                  <label><input type="radio" name="{{pregunta.id}}" value="1">{{pregunta.opcion_1}}</label>
                                                </div>
                                                <div class="radio">
                                                  <label><input type="radio" name="{{pregunta.id}}" value="2">{{pregunta.opcion_2}}</label>
                                                </div>
                                                <div class="radio">
                                                  <label><input type="radio" name="{{pregunta.id}}" value="3">{{pregunta.opcion_3}}</label>
                                                </div>
                                                <div class="radio">
                                                  <label><input type="radio" name="{{pregunta.id}}" value="4">{{pregunta.opcion_4}}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <img class="multimedia-evaluacion" src="{{pregunta.multimedia.ruta_multimedia}}">
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--fin contenido_evaluacion-->
                        <div class="row text-center panel-boton-evaluacion">
                            <button id="btnCalificar" type="button" class="btn btn-default">
                                <span data-id="{{modulo.id}}" class="glyphicon glyphicon-check"></span> calificar</button>
                            <hr>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
    </div>    
       
</body>
</html> 