<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>FICT Capacitacion</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    {% include './importsFooter.html' %}
    <script src="js/evaluaciones.js"></script>
    <link rel="stylesheet" href="css/evaluacion.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body class="home-page">   
    {% include './header.html' %}

    <div id="continer" class="sections-wrapper">   
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="container-fluid">
                        <div class="row" id="contenido_evaluaciones"> 
                            {% for modulo in modulos %}
                                <div class="row table_modulo">
                                    <div class="row">
                                        <h3 class="title text-center">Modulo {{modulo.indice}}: {{modulo.titulo}} </h3>
                                    </div>
                                    <div>
                                        <table class="table table-bordered">
                                            <thead >
                                              <tr >
                                                <th>Titulo Evaluacion</th>
                                                <th class="text-center">Calificacion</th>
                                                <th class="text-center"></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {% for capitulo in modulo.capitulos %}
                                                  <tr>
                                                    <td>Capitulo {{capitulo.indice}}: {{capitulo.titulo}}</td>
                                                    {%if capitulo.nota != null%}
                                                        <td class="text-center">{{capitulo.nota}}</td>
                                                    {% else %}
                                                        <td class="text-center">--</td>
                                                    {% endif %}
                                                    <td class="text-center">
                                                        <button data-id="{{capitulo.id}}" type="button" class="btnEvaluacionCapitulo btn btn-default btn-sm">
                                                            <span data-id="{{capitulo.id}}" class="glyphicon glyphicon-list-alt"></span> tomar evaluacion
                                                        </button>
                                                    </td>
                                                  </tr>
                                              {% endfor %}
                                              <tr>
                                                <td>Evaluacion del Modulo</td>
                                                {%if modulo.nota != null%}
                                                    <td class="text-center">{{modulo.nota}}</td>
                                                {% else %}
                                                    <td class="text-center">--</td>
                                                {% endif %}
                                                <td class="text-center">
                                                    <button data-id="{{modulo.id}}" type="button" class="btnEvaluacionModulo btn btn-default btn-sm">
                                                        <span data-id="{{modulo.id}}" class="glyphicon glyphicon-list-alt"></span> tomar evaluacion
                                                    </button>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
    </div>    
       
</body>
</html> 