<script >
    var id={{id}};
</script>
<!-- ******HEADER****** -->
<header id="header" class="header navbar-fixed-top scrolled">
    <div class="container">       
        <h1 class="logo">
            <a href="/"><span class="text">Logo</span></a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active nav-item"><a href="/">Inicio</a></li>
                    {% if id > -1 %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Construcion <i class="fa fa-angle-down"></i></a>
                        <ul id="modulos" class="dropdown-menu">             
                        </ul>                            
                    </li><!--//dropdown-->
                    <li class="nav-item"><a href="/logout">Cerrar Secion</a></li>
                    {% endif %}
                    {% if id == -1 %}                      
                    <li class="nav-item"><a href="/login">Iniciar Secion</a></li>
                    <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="/signup">Registrate</a></li>
                    {% endif %}

                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->                     
    </div><!--//container-->
</header><!--//header-->