<!-- ******HEADER****** -->
<header id="header" class="header navbar-fixed-top scrolled">
    <div class="container">       
        <h1 class="logo">
            <a href="/"><span class="text">Logo</span></a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active nav-item"><a href="/">Inicio</a></li>
                    {% if id > 0 %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Construcion <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/modulo">Modulo 1: Lectura de Planos</a></li>
                            <li><a href="/modulo">Modulo 2: Tecnologias del Hormigon</a></li>
                            <li><a href="/modulo">Modulo 3: Acero y Armadura</a></li>
                            <li><a href="/modulo">Modulo 4: Topografia</a></li>                
                        </ul>                            
                    </li><!--//dropdown-->
                    <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="#">Cerrar Secion</a></li>
                    {% endif %}
                    {% if id == 0 %}                      
                    <li class="nav-item"><a href="/login">Iniciar Secion</a></li>
                    <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="/signup">Registrate</a></li>
                    {% endif %}

                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->                     
    </div><!--//container-->
</header><!--//header-->