<!DOCTYPE html>
<html lang="en">
    <head>
            <title>FIEC Capacitacion</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            {% include './importsFooter.html' %}
            <link rel="stylesheet" href="assets/plugins/DataTables-1.10.13/media/css/dataTables.bootstrap.min.css" type="text/css">
    </head>
    <body>
        {% include './header.html' %}
            <div class="content" style="margin-top: 100px;">
                <h3 class="title text-center">Curso</h3>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div>
                            <button id="btnNuevoModulo" type="button" class="btn btn-primary" onclick="modalNuevoModulo();">
                                <span class="glyphicon glyphicon-plus">
                                </span> 
                                Nuevo Módulo
                            </button>
                        </div>  
                        <br/>
                        <br/>
                        <br/>
                        <div >
                            <table class="table table-hover table-valign-middle m-b-0" cellspacing="0" width="100%" id="tableModulos" >
                                <thead>
                                    <tr>
                                        <th class="text-center">Número Módulo</th>
                                        <th class="text-center">Título Módulo</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        {% for modulo in modulos  %}
                                            <tr>
                                                <td>{{modulo.indice}}</td>
                                                <td>{{modulo.titulo}}</td>
                                                <td class="text-center">
                                                    <a href="/capitulos?id={{modulo.id}}" class="nounderline" style="text-decoration: none" alt="Editar">
                                                        <span class="glyphicon glyphicon-search">
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" onclick="eliminarModulo({{modulo.id}})" class="nounderline" style="text-decoration: none" alt="Editar">
                                                        <span class="glyphicon glyphicon-trash">
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" onclick="modalActualizarModulo({{modulo.id}})" class="nounderline" style="text-decoration: none" alt="Editar">
                                                        <span class="glyphicon glyphicon-pencil">
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {%  endfor %}
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        
    </body>
    
    <!-- Modal nuevo-->
    <div id="modalModulo" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title text-primary text-center" id="tituloModal">Nuevo Modulo</h2>
          </div>
          <div class="modal-body">
            <form id="formNuevoModulo" data-parsley-validate="">
                <div class="form-group">
                    <label>Titulo</label>
                    <input type="text" class="form-control" id="titulo-modulo" data-parsley-required>
                </div>
                <div class="form-group">
                    <label>Numero</label>
                    <input class="form-control" id="numero-modulo" data-parsley-required data-parsley-type="integer">
                </div>
            </form>

          </div>
          <div class="modal-footer text-center">
            <button id="btnGuardarModulo" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk">
                </span> 
                Guardar
            </button>
            <button id="btnActualizarModulo" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk">
                </span> 
                Actualizar
            </button>
          </div>
        </div>

      </div>
    </div>

    <script type="text/javascript" src="assets/plugins/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="assets/plugins/DataTables-1.10.13/media/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="js/modulos.js"></script>
</html>


