<!DOCTYPE html>
<html lang="en">
    <head>
            <title>FIEC Capacitacion</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            {% include './importsFooter.html' %}
            <link rel="stylesheet" href="assets/plugins/DataTables-1.10.13/media/css/dataTables.bootstrap.min.css" type="text/css">
            <script>
                var idSeccion= {{seccion.id}};
            </script>
    </head>
    <body>
        {% include './header.html' %}
            <div class="content" style="margin-top: 100px;">
                <h3 class="title text-center">Sección: {{seccion.titulo}}</h3>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div>
                            <button id="btnNuevoCapitulo" type="button" class="btn btn-primary" onclick="modalNuevoParrafo();">
                                <span class="glyphicon glyphicon-plus">
                                </span> 
                                Nueva Párrafo
                            </button>
                        </div>  
                        <br/>
                        <br/>
                        <br/>
                        <div >
                            <table class="table table-hover table-valign-middle m-b-0" cellspacing="0" width="100%" id="tableParrafos" >
                                <thead>
                                    <tr>
                                        <th class="text-center">Número Párrafo</th>
                                        <th class="text-center">Texto Párrafo</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        {% for parrafo in parrafos  %}
                                            <tr>
                                                <td>{{parrafo.indice}}</td>
                                                <td>{{parrafo.texto}}</td>
                                                <td class="text-center">
                                                    <a href="javascript:;" onclick="modalVerParrafo({{parrafo.id}});" class="nounderline" style="text-decoration: none" alt="Editar">
                                                        <span class="glyphicon glyphicon-search">
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" onclick="eliminarParrafo({{parrafo.id}});" class="nounderline" style="text-decoration: none" alt="Editar">
                                                        <span class="glyphicon glyphicon-trash">
                                                        </span>
                                                    </a>
                                                    <a href="javascript:;" onclick="modalActualizarParrafo({{parrafo.id}});" class="nounderline" style="text-decoration: none" alt="Editar">
                                                        <span class="glyphicon glyphicon-pencil">
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {%  endfor %}
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    </body>
    
    <!-- Modal nuevo-->
    <div id="modalParrafo" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title text-primary text-center" id="tituloParrafo">Nuevo Párrafo</h2>
          </div>
          <div class="modal-body">
            <form id="formNuevoParrafo" data-parsley-validate="">
                <div class="form-group">
                    <label>Número</label>
                    <input class="form-control" id="numero-parrafo" data-parsley-required data-parsley-type="integer">
                </div>
                <div class="form-group">
                    <label>Texto</label>
                    <textarea type="text" class="form-control" id="text-parrafo" data-parsley-required>
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Tipo multimedia</label>
                    <select class="form-control" id="select-tipo-multimedia">
                        <option selected value="no">NO</option>
                        <option value="foto">IMAGEN</option>
                        <option value="video">VIDEO</option>
                    </select>
                </div>
                <div id="div_multimedia">
                    <div id="div_imagen" class="form-group">
                        <label>Imagen</label>
                        <input type="file" class="form-control" id="file-archivo" >
                    </div>
                    <div id="div_video" class="form-group">
                        <label>URL Youtube</label>
                        <input type="text" class="form-control" id="text-video" >
                    </div>
                    <div class="form-group">
                        <label>Descripcion multimedia</label>
                        <input type="text" class="form-control" id="text-descripcion" >
                    </div>
                    <div class="form-group">
                        <label>Fuente</label>
                        <input type="text" class="form-control" id="text-fuente">
                    </div>
                </div>

            </form>

          </div>
          <div class="modal-footer text-center">
            <button id="btnGuardarParrafo" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk">
                </span> 
                Guardar
            </button>
            <button id="btnActualizarParrafo" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk">
                </span> 
                Actualizar
            </button>
          </div>
        </div>

      </div>
    </div>

    <div id="modalVistaPreviaParrafo" class="modal" rol="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title text-primary text-center" >Párrafo</h2>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <p id="vista_previa_parrafo"></p>
                        <div id="div_vista_previa_multimedia">
                            <figure class="col-md-10 col-md-offset-1">

                                <div id="div_vista_previa_imagen" class="multimedia-center">
                                    <img src="images/plano.gif">
                                </div>

                                <div id="div_vista_previa_video" class="multimedia-center video-responsive">
                                    <iframe src="https://www.youtube.com/embed/mzq656xAUy4"></iframe>
                                </div>


                                <figcaption id="vista_previa_descripcion_multimedia" class="figure-caption">Vista en Planta</figcaption>
                                <figcaption id="vista_previa_fuente_multimedia" class="figure-caption">Fuente: http://www.importancia.org/plano.php</figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="assets/plugins/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="assets/plugins/DataTables-1.10.13/media/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="js/parrafos.js"></script>
</html>