<!DOCTYPE html>
<html lang="en">
    <head>
            <title>FIEC Capacitacion</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            {% include './importsFooter.html' %}
            <link rel="stylesheet" href="assets/plugins/DataTables-1.10.13/media/css/dataTables.bootstrap.min.css" type="text/css">            
            <link rel="stylesheet" href="css/estiloListaEstudiantes.css" type="text/css">            
    
    </head>
    <body>
        {% include './header.html' %}
        <div class="content" style="margin-top: 100px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                     <div>
                         <div>
                             <div class="row">
                                   <div class="col-md-12">
                                        <h3 class="text-center">Informe de Seguimiento de Estudiante</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row" style="margin-top: 20px;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-6 text-right" >Cedula</label>
                                                            <p class="col-md-6">{{estudiante.cedula}}</p>
                                                         </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-6 text-right">Nombres</label>
                                                            <p class="col-md-6 " >{{estudiante.nombre}}</p>
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-6 text-right">Apellidos</label>
                                                            <p class="col-md-6 " >{{estudiante.apellido}}</p>
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-6 text-right" >Correo</label>
                                                            <p class="col-md-6 ">{{estudiante.correo}}</p>
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                        <div id="tablaNotas" class="container-fluid">

                                                            <div class="row">
                                                                <div class="col-md-10 col-md-offset-1">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            {% for modulo in estudiante.modulos %}
                                                                                <div class="row tableModulo">
                                                                                    <div class="row">
                                                                                        <h3 class="title text-center">Modulo {{modulo.indice}} : {{modulo.titulo}}</h3>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="tablaCalificaciones">
                                                                                    <table class="table table-bordered">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Titulo del Capitulo</th>
                                                                                                <th class="text-center">Calificacion</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            {%  for capitulo in modulo.capitulos %}
                                                                                                <tr>
                                                                                                    <td>Capitulo {{capitulo.indice}}: {{capitulo.titulo}}</td>
                                                                                                    {% if capitulo.nota != null %}
                                                                                                        <td class="text-center">{{capitulo.nota}}</td>                                                               
                                                                                                    {% else %}
                                                                                                        <td class="text-center">--</td>
                                                                                                    {% endif %}
                                                                                                </tr>
                                                                                            {%  endfor  %}
                                                                                            
                                                                                            <tr>
                                                                                                <td>Evaluacion del Modulo</td>
                                                                                                {%if modulo.nota != null%}
                                                                                                    <td class="text-center">{{modulo.nota}}</td>
                                                                                                {% else %}
                                                                                                    <td class="text-center">--</td>
                                                                                                {% endif %}
                                                                                            </tr>
                                                                                        
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                             </div>
                         </div>
                     </div>

                </div>
            
            </div>
        </div>
            
        <script type="text/javascript" src="assets/plugins/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="assets/plugins/DataTables-1.10.13/media/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="js/avanceEstudiante.js"></script>

    </body>
</html>















