<link rel="shortcut icon" href="favicon.ico">  
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'> 
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>

<!-- Global CSS -->
<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
<!-- Plugins CSS -->    
<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
<link href="assets/plugins/sweetalert/sweetalert2.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="assets/plugins/parsley/parsley.css" />
<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="assets/css/styles-3.css">
<!-- Javascript -->          
<script type="text/javascript" src="assets/plugins/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>     
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/plugins/sweetalert/sweetalert2.min.js"></script>
<script src="js/header.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/plugins/parsley/dist/parsley.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/plugins/parsley/i18n/es.js"></script>
<script type="text/javascript" src="js/contenidoProfesor.js"></script>

