        <div class="container" id="containerListEstudiantes">
            <div class="content">
                <h1 class="page-header">Estudiantes<small>ADMINISTRACION DE LOS ESTUDIANTES</small></h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default" >
                            <div class="panel-body">
                                <table class="table table-hover table-valign-middle m-b-0">
                                    <thead>
                                        <tr>
                                            <th>Cedula</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Acciones</th>
                                        </tr>
                                  </thead>
                                        <tbody>
                                            {% for estudiante in lstEstudiantes  %}
                                                <tr>
                                                    <td>{{estudiante.cedula}}</td>
                                                    <td>{{estudiante.nombre}}</td>
                                                    <td>{{estudiante.apellido}}</td>
                                                    <td>
                                                        <a href="" class="nounderline" style="text-decoration: none" alt="Editar">
                                                            <span class="fa-stack fa-1x text-info">
                                                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                                <i class="fa fa-pencil fa-stack-1x"></i>
                                                            </span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {%  endfor %}
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
