<div class="modal fade" id="verPregunta" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center" id="descripcionVerPregunta"></h2>
            </div>
            <div class="modal-body" id="modalVerPregunta">
                <h3 class="text-center">Pregunta</h3>
                <textarea rows="5" class="form-control" id="txtPreguntaModalVerPregunta" disabled></textarea>
                </br>
                <div class="row">
                    <img src="" style='height: 100%; width: 100%; object-fit: contain;border:0' id="VerImagen" hidden>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Respuesta</th>
                            <th>Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="opcion1ModalVerPregunta" disabled>
                            </td>
                            <td>
                                <input type="radio"  value="1" id="resp1ModalVerPregunta" disabled name="escorrecto">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" id="opcion2ModalVerPregunta" disabled>
                            </td>
                            <td>
                               <input type="radio"  value="2" id="resp2ModalVerPregunta" disabled name="escorrecto">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" id="opcion3ModalVerPregunta" disabled>
                            </td>
                            <td>
                                <input type="radio"  value="3" id="resp3ModalVerPregunta" disabled name="escorrecto" >
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" id="opcion4ModalVerPregunta" disabled>
                            </td>
                            <td>
                                <input type="radio"  value="4" id="resp4ModalVerPregunta" disabled name="escorrecto" >
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>