<div class="modal fade" id="crearPregunta" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{capitulo.tituloCapitulo}}</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Pregunta</h3>
                <textarea rows="5" class="form-control" id="txtPregunta"></textarea>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Respuesta</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="opcion1">
                            </td>
                            <td>
                                <input type="radio"  value="1" id="resp1">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" id="opcion2">
                            </td>
                            <td>
                               <input type="radio"  value="2" id="resp2">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" id="opcion3">
                            </td>
                            <td>
                                <input type="radio"  value="3" id="resp3">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" id="opcion4">
                            </td>
                            <td>
                                <input type="radio"  value="4" id="resp4">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnAgregarPregunta">Agregar</button>
                
            </div>
        </div>
    </div>
</div>